.nav {
    font-size: 30px;
    background-color: darkslategrey;
    color: white;
    margin: 20px;
    display: flex;
    justify-content:space-between;
}
.nav-title {
    font-size: 30px;
    color: white;
    margin: 20px;
}
.nav-links {
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
}

.active {
font-weight: bold;
color: white;
}

.btn {
   background-color: rgb(75, 160, 160);
   color: white;
   height: 30px;
   box-shadow: 5px 5px 5px rgb(17, 12, 12);
}

ul {
    width:700px;
    list-style: none;
    font-size: 20px;
}

a {
    text-decoration: none;
    color:aliceblue;
}